.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    place-items: center;
}

h1.title-neu {
    font-size: 50px;
    font-weight: 700;
    color: #406519;
    margin-bottom: 20px;
    animation: float 6s ease-in-out infinite;
}

h1.title-pos {
    font-size: 50px;
    font-weight: 700;
    color: #17637c;
    margin-bottom: 20px;
    animation: float 6s ease-in-out infinite;
}

h1.title-neg {
    font-size: 50px;
    font-weight: 700;
    color: #652a0a;
    margin-bottom: 20px;
    animation: float 6s ease-in-out infinite;
}

h1.title-back {
    font-size: 50px;
    font-weight: 700;
    color: #be3486;
    margin-bottom: 20px;
    animation: float 6s ease-in-out infinite;
}


/* Image */
/* Make float animaition on image */
.image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-40px);
    }
    100% {
        transform: translatey(0px);
    }
}


/* PageLoader  */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.3s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 200px;
    height: 200px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}